<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <!--<appender-ref ref="SmtpAppender"/>-->
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="ColoredConsoleAppender"/>-->
    </root>
    <!--文件形式记录日志-->
    <!-- 
      过滤器type有如下几种类型
      log4net.Filter.DenyAllFilter        丢弃所有日志事件。
      log4net.Filter.LevelMatchFilter      准确匹配事件等级。
      log4net.Filter.LevelRangeFilter      匹配一个范围的等级。
      log4net.Filter.LoggerMatchFilter    匹配一个日志器名字的开始。
      log4net.Filter.PropertyFilter        匹配指定属性名称的子字符串。
      log4net.Filter.StringMatchFilter    匹配事件消息的子字符串。
      -->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件路径,按文件大小方式输出时在这里指定文件名，并且前面的日志按天在文件名后自动添加当天日期形成文件-->
      <!--<param name="File" value="log.txt"/>-->
      <param name="File" value="Log/log_"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'" />
      <!--log保留天数 MaxSizeRollBackups这个属性用来设置，当日志文件达到MaxFileSize大小，就自动创建备份文件。备份文件的多少由MaxSizeRollBackups决定。比如说，我们是以日期格式作为日志文件名的，假设今天是2013-10-28，那么今天创建的日志文件名就是20131028.htm,当这个文件中要超过MaxFileSize的时候，Log4Net就自动将老的20131028.htm改名为20131028.htm.1，并创建一个新的20131028.htm文件。
      -->
      <maxSizeRollBackups value="10"/>
      <!--每个文件的大小。只在混合方式与文件大小方式下使用，超出大小的在文件名后自动增加1重新命名-->
      <maximumFileSize value="5MB"/>
      <!--日志文件名是否是固定不变的（是否只写到一个文件中）-->
      <staticLogFileName value="false"/>
      <!--记录的格式。-->
      <!--
        %d, %date     ：表示当然的时间
　　    %p, %level    ：表示日志的级别
　　    %c, %logger   ：表示日志产生的主题或名称，通常是所在的类名，便于定位问题
　　    %m, %message  ：表示日志的具体内容
　　    %n, %newline  ：换行
        %exception    ：表示异常信息
        -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="时间：%date 线程ID:[%thread] 级别：%-5level 描述：%message%newline"/>
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>

    <!--<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="bobby.chopra@prcm.com"/>
      <from value="TagFileUploader@prcm.com"/>
      <subject value="TagFileUploader ERROR"/>
      <smtpHost value="prc-mn-ex01"/>
      <bufferSize value="512"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>-->
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
